body {
    font-family: 'Display', Arial, sans-serif;
    background-image: url('https://img.freepik.com/fotos-gratis/paisagem-natural-com-deserto-de-desenho-animado-e-natureza-seca_23-2151797450.jpg?t=st=1725024350~exp=1725027950~hmac=b35345e25189261e473d9415abb0dcd60e289b5a70c51100756a0911122a43c3&w=1060');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    min-height: 200vh;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar o container */
}

h1 {
    color: #8b4513; /* Cor marrom claro */
    font-size: 4em;
    text-shadow: 3px 3px 5px #a0522d; /* Texto 3D */
    margin-bottom: 20px;
}

p, ul {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

#wordsearch {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    justify-content: center;
    margin: 20px 0;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5deb3; /* Cor do cerrado */
    border: 1px solid #d2b48c; /* Cor de borda */
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.2s, background-color 0.3s;
    color: #6b8e23; /* Verde escuro */
    text-shadow: 1px 1px 3px #a9a9a9; /* Texto 3D */
}

.cell:hover {
    transform: scale(1.1);
    background-color: #deb887; /* Cor de destaque ao passar o mouse */
    color: white;
}

.selected {
    background-color: #007bff;
    color: white;
}

button {
    padding: 15px 30px;
    font-size: 22px;
    font-family: 'Display', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #8b4513; /* Cor marrom do cerrado */
    color: white;
    transition: all 0.3s;
    box-shadow: 0 5px #1c7430, 0 8px 15px rgba(0, 0, 0, 0.
